$colour_pink:  pink;
$colour_white: #fff;
$colour_black: #000;
$colour_grey: #ccc;
$colour_vivid_violet: #92278f;

$font_comic: comic sans ms;
$font_comic_ios: chalkboardse-bold;
$font_trebuchet: trebuchet ms;
$font_tahoma: tahoma;
$font_verdana: verdana;
$font_arial: arial;
$font_sans: sans-serif;

body {
  margin: 0 1.8em 1em;
  padding: 0;
  font-size: 95%;
  font-family: $font_trebuchet, $font_tahoma, $font_verdana, $font_arial, $font_sans;
  color: $colour_white;
  background-color: $colour_vivid_violet;
}

a {
  color: #fff
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  font-family: $font_comic, $font_comic_ios, $font_trebuchet, $font_tahoma, $font_verdana, $font_arial, $font_sans;
}

@media (orientation: portrait) and (max-width: 667px) {
  h1 {
    font-size: 2.0em;
    line-height: 95%;
    padding-bottom: .2em
  }
}

h3 {
  clear: both
}

img {
  border: .8em solid $colour_pink
}

@media (orientation: portrait) and (max-width: 667px) {
  img {
    height: 110px
  }
}

section {
  ol {
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      display: inline;
      margin: .5em;
      list-style: none;
      img {
        margin: .5em 0;
        min-width: 1.2em;
        border-radius: 1.2em;
      }
    }
  }
}

@media (orientation: portrait) and (max-width: 667px) {
  section {
    margin-top: 5em;
  }
}

footer {
  clear: both;
  padding: 2em 0 0;
  p {
    font-size: 75%;
    text-align: right;
    a {
      text-decoration: none;
      border-bottom: 1px $colour_pink dashed;
    }
  }
}

header {
  margin-bottom: 1em;
  border-top: 1px dashed $colour_pink;
  border-bottom: 1px dashed $colour_pink;
  p {
    margin-top: 0;
  }
}

@media (orientation: portrait) and (max-width: 667px) {
  header {
    margin-top: .6em;
    border-top: 0;
    p {
      margin-bottom: 0.5em
    }
  }
}

@media (orientation: portrait) and (max-width: 667px) {
  nav.main {
    position: absolute;
    right: 1.8em;
    top: 4.5em;
    display: block;
    width: 75%;
  }
}

nav.main {
  height: 1.6em;
  padding: .5em 0;
  ul {
    margin: 0;
    padding: 0;
    float: right;
    li {
      display: block;
      float: left;
      margin: 0;
      padding: .2em 0 .2em 1.8em;
    }
  }
}

@media (min-width: 667px) {
  nav.galleries {
    display: block;
    float: left;
    width: 20%;
    ol, ul {
      padding-left: 1em;
      li {
        padding-bottom: .7em;
        list-style: none;
      }
    }
  }
}

/*and (min-width: 500px)*/
@media (orientation: portrait) and (max-width: 667px) {
  nav.galleries {
    display: block;
    position: absolute;
    top: 5.2em;
    left: 1.8em;
    width: 2.5em;
    height: 2.5em;
    background: url(../images/burger-menu.svg);
    background-size: 2.5em;
    ol, ul {
      display: none;
      padding-left: 1em;
      li {
        padding-bottom: .7em;
        list-style: none;
      }
    }
  }
}

.aboutMe {
  width: 100%;
  padding: 2em 0;
  text-align: center;
  table {
    margin: 0 auto;
    border-collapse: collapse;
    caption {
      margin-bottom: .5em;
    }
    th {
      padding: .3em .7em;
      border: 1px solid $colour_pink;
    }
    td {
      padding: .3em .7em;
      border: 1px solid $colour_pink;
    }
  }
}

.browsehappy {
  margin: 0.2em 0;
  padding: 0.5em;
  background: $colour_grey;
  color: $colour_black;
}
